.feature {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

.thebe-status-field {
	background-color: #ccc;
	margin: auto;
	padding: 8px;
	position: fixed;
	bottom: 60px;
	left: 10px;
	z-index: 4;
	border-radius: 5px;
	display: none;
}
@media (max-width: 767px) {
	.thebe-status-field {
		bottom: 30px;
	}
}
@media print {
	.thebe-status-field {
		display: none;
	}
}

.thebe-status-field.thebe-status-building {
	/* Binder is building the image */
	background-color: yellow;
	display: block;
}

.thebe-status-field.thebe-status-built {
	display: block;
}

.thebe-status-field.thebe-status-launching {
	/* Binder launching the server */
	background-color: yellow;
	display: block;
}

.thebe-status-field.thebe-status-starting {
	/* Binder starting the server */
	background-color: yellow;
	display: block;
}

.thebe-status-field.thebe-status-ready {
	/* The kernel is connected and ready */
	background-color: lightgreen;
	display: block;
}

.thebe-status-field.thebe-status-failed {
	/* Building the image or launching the kernel failed */
	background-color: red;
	display: block;
}

.thebe-status-field.thebe-status-busy {
	/* The kernel is busy (this event is not hooked up yet) */
	background-color: yellow;
	display: block;
}
.normalLink {
	color: #0F67A6;
	text-decoration: underline;
}
.normalLink:hover{
	color: #218ca6;
}
div.CodeMirror-scroll{
	height: 200px;
}
button.thebelab-button {
	background: #efefef;
	border: 1px solid #969696;
	padding: 0.3em .8em;
	border-radius: 3px;
	font-weight: 600;
	font-size: larger;
	box-shadow: 3px 5px 8px 1px #00000073;
}

button.thebelab-run-button {
	border: 1px solid green;
	background: green;
	color: white;
}
button.thebelab-run-button:hover {
	background: white;
	color: green;
}