.modal-body.team-member-m {
	display: flex;
}

.team-member-modal img {
	width: 250px;
	object-fit: contain;
	height: 250px;
}

.team-member img {
	width: 200px;
	max-width: 100%;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.academy-tab-content.team-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #f3f3f3;
	padding: 10px;
	justify-content: space-evenly;
	border-radius: 10px;
}

.team-member {
	background-color: white;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border: 0;
	width: 200px;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.team-member:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-tileText .teamTitle{
	color: #127bc4;
	font-weight: 400;
	white-space: pre-line;
	line-height: 1.3;
	margin: 0;
	/* flex: 1; */
	font-size: 90%;
}

.breadcumb-area.bg-img {
	height: 230px;
}

section.about-us-area.mt-50 {
	padding-top: 30px;
}

.academy-tabs-content .nav-tabs .nav-link:not(.active):hover {
	background: #09a6fc;
}

.team-member-top {
	white-space: pre-line;
	display: flex;
	margin-bottom: 50px;
	background: -webkit-gradient(linear, right top, left top, from(#127cc5), to(#ffffff));
}

.team-member-top div {
    font-size: x-large;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: white;
    flex: 1;
    justify-content: center;
}

@media (max-width: 767px) {
	ul#myTab {
		flex-direction: column;
		text-align: center;
	}

	.team-member-top {
		align-items: center;
		margin-bottom: 20px;
	}

	.team-member-top div{
		/* color: #127cc5; */
		font-size: medium;
		padding: 10px;
	}
	.team-member-modal img{
		width: 30%;
		height: auto;
	}
}

ul#collabTab {
}

#collabTab li.nav-item {margin-bottom: 2px;}

#teamText p {
    margin-bottom: 50px;
}

.team-tileText {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.team-tileText h5 {
    /* margin: 0; */
    font-size: 100%;
}